.bottom-sheet-no-padding {
    border-top-width: 0px;
    padding: 0px;
}

/* disable padding */
.no-padding {
    padding: 0px;
}

/* default href */
a {
    color: rgb(244, 67, 54);
    text-decoration: none;
}

/* default subheader */
.md-subheader-content {
    text-decoration: underline;
}

md-list div.md-subheader:not(:first-child) {
    margin-top: 15px;
}

/* default cursor */
.default-cursor {
    cursor: default;
}

/* white circular progress */
.progress-circular-white svg path {
    stroke: white;
}

/* toast */
md-toast.error .md-toast-content {
    background: #E53935;
    color: #FFFFFF;
}

md-toast.warning .md-toast-content {
    background: #EF6C00;
    color: #FFFFFF;
}

md-toast.success .md-toast-content {
    background: #43A047;
    color: #FFFFFF;
}

md-toast.info .md-toast-content {
    background: #2196F3;
    color: #FFFFFF;
}

md-toast.fatal .md-toast-content {
    background: #000000;
    color: #FFFFFF;
}

/* slide panel */
.slide-panel {
    height: 300px;;
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
}

.slide-panel.ng-hide {
    min-height: 0;
    height: 0;
}

/* panel fab button */
.fab-panel {
    transform: scale(1);
    transition: transform 0.3s linear;
}

.fab-panel.ng-hide {
    transform: scale(0);
    transition: transform 0.3s linear;
}

/* widget */
.widget-bg-color {
    background-color: #EEEEEE;
    min-width: initial;
}

.widget-bg-color md-card-actions button {
    min-width: initial;
}

.widget-bg-color md-card-actions {
    min-height: 36px;
    max-height: 36px;
}

/* icon */
.icon-white {
    color: white;
    fill: white;
}

md-icon {
    font-size: 24px;
}

.icon-xs {
    line-height: 16px !important;
    font-size: 16px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.icon-md {
    line-height: 32px !important;
    font-size: 32px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.icon-lg {
    line-height: 48px !important;
    font-size: 48px;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}

.icon-xl {
    line-height: 72px !important;
    font-size: 72px;
    width: 72px;
    height: 72px;
    min-width: 72px;
    min-height: 72px;
}

.icon-xxl {
    line-height: 96px !important;
    font-size: 96px;
    width: 96px;
    height: 96px;
    min-width: 96px;
    min-height: 96px;
}

.icon-xxxl {
    line-height: 112px !important;
    font-size: 112px;
    width: 112px;
    height: 112px;
    min-width: 112px;
    min-height: 112px;
}

/* remove input text error spacer */
.no-error-spacer .md-errors-spacer {
    min-height: 0px !important;
}

/* fix fab button with href */
.fix-href-button {
    padding-top: 6px;
}

/* fix row with input for button, checkbox...*/
.padding-row-with-input {
    padding-top: 15px;
}

/********** smallest icon button **********/
button.md-button.cl-button-sm {
    min-width: 48px !important;
}

a.md-button.cl-button-sm {
    min-width: 48px !important;
    padding-top: 5px !important;
}


/********** debug list item **********/
.debug-line {
    border-bottom-color: rgba(0,0,0,0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.debug-icon-debug {
    color: #4CAF50;
    margin-right: 15px !important;
}

.debug-icon-info {
    color: #2196F3;
    margin-right: 15px !important;
}

.debug-icon-warning {
    color: #FF9800;
    margin-right: 15px !important;
}

.debug-icon-error {
    color: #F44336;
    margin-right: 15px !important;
}

.debug-icon-critical {
    color: #795548;
    margin-right: 15px !important;
}

.debug-icon-exception {
    color: #9C27B0;
    margin-right: 15px !important;
}

/********** codemirror **********/
.codemirror-header > .CodeMirror {
    border: 1px solid #eee;
    height: 150px !important;
}

.codemirror-code > .CodeMirror {
    border: 1px solid #eee;
    height: 500px !important;
}

/********* toolbar **********/
.toolbar-content {
    height: 64px;
    overflow-y: hidden;
}

.toolbar-spacer {
    width: 15px;
}

.toolbar-white-icon {
    color: white !important;
    fill: white !important;
}

/********* modules card **********/
.module-desc {
    height: 50px;
    text-overflow: ellipsis;
    /*white-space: nowrap; <- induce all description on single line*/
    overflow: hidden;
}

/********* list item **********/
.md-secondary-rpadding {
    padding-right: 30px;
}

.margin-v-5px {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.vertical-align {
    padding-top: 10px;
}

/********* no margin *********/
.no-margin {
    margin: 0px 0px 0px 0px !important;
}

.no-md-error .md-errors-spacer {
    min-height: 0px !important;
    height: 0px !important;
}

/********** subheader **********/
.subheader {
    color: rgba(0,0,0,0.54);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
}

/********** module ***********/
.module-padding {
    padding: 16px;
}


/********** config-item ***********/
.config-input-container-no-margin {
    margin: 0px 0px !important;
}
/**
.config-item:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
}
**/

.config-item md-input-container .md-errors-spacer {
    display: none;
}

.config-item > form {
    margin: 0px !important;
}

.config-item input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url(/images/arrow-down.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 5px;
}

.config-item-note-none {
}

.config-item-note-note {
    background-color: rgb(226, 227, 229);
    border: 1px solid rgb(196, 200, 203);
    border-radius: 4px;
    padding: 15px;
}

.config-item-note-info {
    background-color: rgb(207, 226, 255);
    border: 1px solid rgb(158, 197, 254);
    border-radius: 4px;
    padding: 15px;
}

.config-item-note-success {
    background-color: rgb(209, 231, 221);
    border: 1px solid rgb(163, 207, 187);
    border-radius: 4px;
    padding: 15px;
}

.config-item-note-warning {
    background-color: rgb(255, 243, 205);
    border: 1px solid rgb(255, 230, 156);
    border-radius: 4px;
    padding: 15px;
}

.config-item-note-error {
    background-color: rgb(248, 215, 218);
    border: 1px solid rgb(241, 174, 181);
    border-radius: 4px;
    padding: 15px;
}

.config-item-section {
    border-bottom: 1px solid rgb(196, 200, 203);
    padding-bottom: 10px;
    margin: 15px 0px 10px 15px;
}

.config-item-section div md-icon {
    margin-right: 5px;
}

.config-item-section > span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
    font-weight: 500;
}

.config-list-item {
    padding: 10px 0px;
}
