Source: cleep
Section: misc
Priority: optional
Maintainer: Tanguy Bonneau <tanguy.bonneau@gmail.com>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools
Standards-Version: 4.1.4
Homepage: https://github.com/CleepDevice/cleep

Package: cleep
Architecture: armhf
Depends: ${misc:Depends},${python3:Depends},__CLEEP_PACKAGES__
Description: Build your own IoT device easily.
 Cleep is a software that provides a way to build easily your own Iot device that fits your needs
 .
 It provides small embedded apps via market place to add features to your device: handle new
 hardware installing driver, connect to online services, install new capabilities...

